@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model IEnumerable<AspNetProjekt.Models.Item>
@inject UserManager<MyUser> UserManager
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>
    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdmin")).Succeeded)
    {
        <a class="btn btn-primary" asp-action="CreateItem" asp-controller="Shop">Dodaj nowy produkt</a>
        <a class="btn btn-primary" asp-action="CreateCategory" asp-controller="Shop">Dodaj nową Kategorię</a>
    }
</p>
<h3>Galeria Produktów</h3>
<div class="container">
    <div class="row row-cols-3 card-deck">

        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card mb-4" style="width: 18rem;">
                    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdmin")).Succeeded)
                    {
                        <a asp-action="EditItem" asp-route-id="@item.ItemId" style="position:absolute" class="btn btn-danger d-inline-block m-1">edit</a>

                    }
                    @if (String.IsNullOrEmpty(item.ItemImageName))
                    {
                        <img class="card-img-top" width="220" height="220" style="max-height:260;max-width:260" src="~/image/noimage.jpg" asp-append-version="true" />
                    }
                    else
                    {
                        <img class="card-img-top" width="220" height="220" style="max-height:260;max-width:260" src="@("~/image/"+item.ItemImageName)" alt="img" asp-append-version="true" />
                    }
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.ItemName)</h5>
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.ItemPrice) zł</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.ItemDescription)</p>
                        <p class="card-text">iloś w magazynie: @Html.DisplayFor(modelItem => item.ItemAvalibility)</p>
                        @if ((await AuthorizationService.AuthorizeAsync(User, "RequireUser")).Succeeded)
                        {
                            <a onclick="LikeItem('@item.ItemId')" class="btn btn-primary d-inline-block "><i class="bi bi-heart-fill"></i>(@item.ItemLikes.Count)</a>
                            <a onclick="WishItem('@item.ItemId')" class="btn btn-secondary d-inline-block">Lista życzeń</a>
                            if(item.ItemAvalibility > 0)
                            {
                                 <a href="../Shop/Index#@item.ItemId" class="btn btn-secondary d-inline-block">Strona w sklepie</a> 
                            }
                        }
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<script>
    function LikeItem(str) {
      var request = new XMLHttpRequest();
      request.onreadystatechange = function() {
      };
      var url = "/Shop/LikeItem";
      request.open("POST", url, false);
      request.setRequestHeader("Content-Type", "application/json");
      request.onreadystatechange = function () {
        if (request.readyState == 4 && request.status == 200) {
            location.reload(true);
        }
      };
    request.send(JSON.stringify(str));
    }
    function WishItem(str) {
      var request = new XMLHttpRequest();
      request.onreadystatechange = function() {
      };
      var url = "/Shop/WishItem";
      request.open("POST", url, false);
      request.setRequestHeader("Content-Type", "application/json");
      request.onreadystatechange = function () {
        if (request.readyState == 4 && request.status == 200) {
            location.reload(true);
        }
      };
    request.send(JSON.stringify(str));
    }
</script>